name: External PR Handler
on:
  issue_comment:
    types: [ created ]

jobs:
  pr-details:
    if: >
      github.event.issue.pull_request &&
      contains(github.event.comment.body, '/approve-pipeline-run')
    runs-on: ubuntu-24.04
    outputs:
        is_fork: ${{ steps.pr-info.outputs.is_fork }}
        fork_owner: ${{ steps.pr-info.outputs.fork_owner }}
        fork_repo: ${{ steps.pr-info.outputs.fork_repo }}
        branch: ${{ steps.pr-info.outputs.branch }}
        sha: ${{ steps.pr-info.outputs.sha }}
        contributor: ${{ steps.pr-info.outputs.contributor }}
        pr_number: ${{ steps.pr-info.outputs.pr_number }}
        base_branch: ${{ steps.pr-info.outputs.base_branch }}
        title: ${{ steps.pr-info.outputs.title }}
        body: ${{ steps.pr-info.outputs.body }}
    steps:
      - name: Get PR details
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: pr-info
        with:
          script: |
            const pr = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            });

            core.setOutput('is_fork', pr.data.head.repo.fork.toString());
            core.setOutput('fork_owner', pr.data.head.repo.owner.login);
            core.setOutput('fork_repo', pr.data.head.repo.name);
            core.setOutput('branch', pr.data.head.ref);
            core.setOutput('sha', pr.data.head.sha);
            core.setOutput('contributor', pr.data.user.login);
            core.setOutput('pr_number', pr.data.number.toString());
            core.setOutput('base_branch', pr.data.base.ref);
            core.setOutput('title', pr.data.title);
            core.setOutput('body', pr.data.body);

  create-internal-pr-mirror:
    needs: pr-details
    if: >
      needs.pr-details.outputs.is_fork == 'true'
    runs-on: ubuntu-24.04
    steps:
      - name: Check commenter permissions
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: pr
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: permission } = await github.rest.repos.getCollaboratorPermissionLevel({
              owner: context.repo.owner,
              repo: context.repo.repo,
              username: context.actor
            });

            const allowed = ["admin", "write", "maintain"].includes(permission.permission);
            if (!allowed) {
              core.setFailed("User is not authorized to approve pipeline run.");
            }

      - name: Azure login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_COMMON_VAULT_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_COMMON_VAULT_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_COMMON_VAULT_SUBSCRIPTION_ID }}

      - name: Setup secrets
        id: secrets
        run: |
          echo "Setting secrets for job"
          NGINX_PAT=$(az keyvault secret show --name nginx-bot-pat --vault-name ${{ secrets.COMMON_KEYVAULT_NAME }} --query value -o tsv)
          echo "::add-mask::$NGINX_PAT"
          echo "NGINX_PAT=$NGINX_PAT" >> $GITHUB_OUTPUT

      - name: Checkout fork branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ needs.pr-details.outputs.fork_owner }}/${{ needs.pr-details.outputs.fork_repo }}
          ref: ${{ needs.pr-details.outputs.sha }}
          fetch-depth: 0

      - name: Create and push branch
        id: branch
        run: |
          git remote add upstream https://x-access-token:${{ steps.secrets.outputs.NGINX_PAT }}@github.com/${{ github.repository }}.git
          git fetch upstream

          CONTRIBUTOR="${{ needs.pr-details.outputs.contributor }}"
          BRANCH_NAME="${{ needs.pr-details.outputs.branch }}"
          PR_NUM="${{ needs.pr-details.outputs.pr_number }}"

          INTERNAL_BRANCH="$${BRANCH_NAME}-do-not-merge"

          # Check if branch already exists
          if git ls-remote --heads upstream "$INTERNAL_BRANCH" | grep -q "$INTERNAL_BRANCH"; then
            echo "Branch already exists - appending timestamp"
            INTERNAL_BRANCH="${INTERNAL_BRANCH}-$(date +%s)"
          fi

          echo "internal_branch=${INTERNAL_BRANCH}" >> $GITHUB_OUTPUT

          git checkout -b "${INTERNAL_BRANCH}"
          git push upstream "${INTERNAL_BRANCH}"

          echo "Branch created: ${INTERNAL_BRANCH}"

      - name: Open internal PR
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ steps.secrets.outputs.NGINX_PAT}}
          script: |
            await github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              base: '${{ needs.pr-details.outputs.base_branch }}',
              head: '${{ steps.branch.outputs.internal_branch }}',
              title: `DO NOT MERGE ${{ needs.pr-details.outputs.title }}`,
              body: `${{ needs.pr-details.outputs.body }}`,
              draft: true
            });
